<section id="DrinkCategories">
  <h2 class="animate-fade-up">Browse Our Range</h2>

  <div id="DrinkCarousel" class="animate-fade-up  ">

    <button class="CarouselArrows left" id="PreviousDrink">&#8592;</button>

    <div id="CarouselBackground"></div>

    <div id="CarouselContent" >
      <h3 id="DrinkName">Tea</h3>
      <p id="DrinkDesc">Explore our wide range of refreshing teas from around the world.</p>
      <a href="ProductPage.html" id="DrinkLink">View All Teas</a>
    </div>

    <button class="CarouselArrows right" id="NextDrink">&#8594;</button>

  </div>

</section>