 <section id="MainDisplay">

        <video id="MainVideo" autoplay muted playsinline>
    <source src="../assets/videos/pinkdrink.mp4" type="video/mp4">
  </video>

    <div id="MainText">
        <h1 class ="animate-fade-up">Refresh Your Day with Our Delicious Drinks!</h1>
        <p  class ="animate-fade-up">Discover a world of refreshing beverages crafted just for you! </p>
        <div id="MainButtons" class ="animate-fade-up">
           <a href="SignupPage.html" class="signupButton">Become a Member Now!</a>
           <a href="#">Learn More</a>
        </div>
        </div>
      </div>
    </section>