<section id="ratingStars" class="stars-selector-group">
    <span class="stars-selector-label">How would you rate this product?</span>
    <div id="starRatingInput">
        <i class="fas fa-star" data-value="1"></i>
        <i class="fas fa-star" data-value="2"></i>
        <i class="fas fa-star" data-value="3"></i>
        <i class="fas fa-star" data-value="4"></i>
        <i class="fas fa-star" data-value="5"></i>
    </div>
    <div id="ratingError" class="error-message">Please select a star rating</div>
</section>