<section class="animate-fade-up">
  <div class="carousel-container">
  <button class="carousel-btn prev">&#8592;</button>

  <div class="carousel-track-wrapper">
    <div class="carousel-track">

      <div class="card"> <!--resuse the card class -->
        <div class="img-wrapper">
          <img src="../assets/images/hojicha.webp" alt="Hojicha">
        </div>
        <div class="product-info">
          <p>Hojicha</p>
          <p class="halfvisibletext">Roasted green tea</p>
        </div>
      </div>

      
      <div class="card">
        <div class="img-wrapper">
          <img src="../assets/images/sencha.webp" alt="Milk Tea">
        </div>
        <div class="product-info">
          <p>Sencha</p>
          <p class="halfvisibletext">flavourity tea</p>
        </div>
      </div>

      
      <div class="card">
        <div class="img-wrapper">
          <img src="../assets/images/nosugargreentea.webp" alt="Green Tea">
        </div>
        <div class="product-info">
          <p>Green Tea</p>
          <p class="halfvisibletext">Light and refreshing</p>
        </div>
      </div>

    </div>
  </div>

  <button class="carousel-btn next">&#8594;</button>
  </div>
</section>