<section class="animate-fade-up">
  <div class="carousel-container">
  <button class="carousel-btn-prev solidbutton">
    <span class="arrow-icon">&#8592;</span>
  </button>

  <div class="carousel-track-wrapper" >
    <div class="carousel-track">

      <div class="card"> <!--resuse the card class -->
        <div class="img-wrapper">
          <img src="../assets/images/hojicha.webp" alt="Hojicha">
        </div>
        <div class="product-info">
          <h2>Hojicha</h2>
          <p class="halfvisibletext">Roasted green tea</p>
        </div>
      </div>

      
      <div class="card">
        <div class="img-wrapper">
          <img src="../assets/images/sencha.webp" alt="Milk Tea">
        </div>
        <div class="product-info">
          <h2>Sencha</h2>
          <p class="halfvisibletext">flavourity tea</p>
        </div>
      </div>

      
      <div class="card">
        <div class="img-wrapper">
          <img src="../assets/images/nosugargreentea.webp" alt="Green Tea">
        </div>
        <div class="product-info">
          <h2>Green Tea</h2>
          <p class="halfvisibletext">Light and refreshing</p>
        </div>
      </div>

    </div>
  </div>

  <button class="carousel-btn-next solidbutton">
    <span class="arrow-icon">&#8594;</span>
  </button>
  </div>
</section>