<section class="animate-fade-up">
   <div class="title">
        <h1>Product Category</h1>
        <p class="subtitle">Find Your Perfect Drink</p>
    </div>


  <div class="productcard-container">

    <a class="card card-transition" style="background-color:var(--teabg);" href="CategoryProductsPage.html?category=Tea">
        <div class="img-wrapper">
            <img src="../assets/images/greentea.webp" 
            loading="lazy" 
            alt="Tea" >
        </div>
      <div class="product-info">
        <h2>Tea</h2>
        <p class="halfvisibletext">Refreshing tea beverages with rich flavors for every moment.</p>
      </div>
    </a>

    <a class="card card-transition" style="background-color:var(--coffeebg);" href="CategoryProductsPage.html?category=Coffee">
      <div class="img-wrapper">
        <!--<img src="../assets/images/coffeebg.webp" alt="coffee background" loading="lazy">-->
        <img src="../assets/images/coffee.png" 
        alt="Coffee" 
        loading="lazy" >
    </div>
      <div class="product-info">
        <h2>Coffee</h2>
        <p class="halfvisibletext">Energizing coffee drinks crafted for a smooth experience.</p>
      </div>
    </a>

    <a class="card card-transition" style="background-color:var(--juicebg);" href="CategoryProductsPage.html?category=Juice">
      <div class="img-wrapper">
        <img src="../assets/images/orangejuice.png" 
        alt="Juice" 
        loading="lazy" >
      </div>
        <div class="product-info">
        <h2>Juice</h2>
        <p class="halfvisibletext">Fruity and refreshing juices made from delicious fruit flavors.</p>
      </div>
    </a>

    <a class="card card-transition" style="background-color:var(--sodabg);" href="CategoryProductsPage.html?category=Soda">
      <div class="img-wrapper">
        <img src="../assets/images/fantaorange.png" 
        alt="Soda" 
        loading="lazy" >
      </div>
        <div class="product-info">
        <h2>Soda</h2>
        <p class="halfvisibletext">Fizzy and flavorful soft drinks perfect for a refreshing treat.</p>
      </div>
    </a>

    <a class="card card-transition" style="background-color:var(--functionalbg);" href="CategoryProductsPage.html?category=Functional%20Beverage">
      <div class="img-wrapper">
        <img src="../assets/images/redbull.webp" 
        alt="Functional Beverage" 
        loading="lazy" >
      </div>
        <div class="product-info">
        <h2>Functional Beverage</h2>
        <p class="halfvisibletext">Enhance your daily routine with our functional drinks.</p>
      </div>
    </a>

    <a class="card card-transition" style="background-color:var(--dairybg);" href="CategoryProductsPage.html?category=Dairy%20Beverages">
      <div class="img-wrapper">
        <img src="../assets/images/farmfresh.png" 
        alt="Dairy Drink" 
        loading="lazy" >
      </div>
        <div class="product-info">
        <h2>Dairy Beverages</h2>
        <p class="halfvisibletext">Creamy, nutritious dairy beverages for every lifestyle.</p>
      </div>
    </a>

    <a class="card card-transition" style="background-color:var(--localdrinkbg);" href="CategoryProductsPage.html?category=Local%20Beverages">
      <div class="img-wrapper">
        <img src="../assets/images/krisantimum.png" 
        alt="Local Drink" 
        loading="lazy" >
      </div>
        <div class="product-info">
        <h2>Local Beverages</h2>
        <p class="halfvisibletext">Experience the taste of our local beverages.</p>
      </div>
    </a>

    <a class="card card-transition" style="background-color:var(--otherbg);" href="CategoryProductsPage.html?category=Alcoholic%20Beverages">
      <div class="img-wrapper">
        <img src="../assets/images/changbeer.webp" 
        alt="beer" 
        loading="lazy" >
      </div>
        <div class="product-info">
        <h2>Alcoholic Beverages</h2>
        <p class="halfvisibletext">A selection of beer for adult consumers.</p>
      </div>
    </a>
  </div>
</section>

<!--loading lazy - only load when user scroll close to it-->
<!--CHECKED-->