<section class="team-row animate-fade-up">
    <div class="img-sec">
      <img src="../assets/images/Coshin/personal photo.jpg" loading="lazy" alt="img of Coshin">
    </div>

  <div class="team-info">
    <span class="category-tag">Team Leader</span>
    <h2>Coshin</h2>
    <p class="team-bio">
      Role for this project is to worked on the product interface, search functionality, portfolio design, and CSS architecture. 
      Pages developed are the Product Page, Product Detail Page, and Individual Portfolio
      Features built are a responsive product layout, product information display, real-time search bar, external CSS structure, and JavaScript functionality.
      Tasks done are created responsive web pages, implemented real-time search, designed a personal portfolio, maintained reusable CSS, and improved the user interface with JavaScript.
    </p>
    <a href="../portfolio/Coshin.html" target="_blank" rel="noopener" class="solidbutton">Learn more about me</a>
  </div>
</section>