<section class="team-row animate-fade-up">
    <div class="img-sec">
      <img src="../assets/images/Ryan/RyanImage.jpeg" loading="lazy" alt="img of Ryan">
    </div>

  <div class="team-info">
    <span class="category-tag">Member</span>
    <h2>Ryan</h2>
    <p class="team-bio">
      Role for this project is to worked on the user interface, portfolio design, and CSS architecture.
      Pages that have been developed are the Home Page and Individual Portfolio.
      Features built are a responsive layout, responsive theme colours, portfolio page, external CSS styling, and JavaScript functionality.
      Tasks done are created responsive web pages, designed a user-friendly home page, developed a personal portfolio, and maintained a consistent design across different screen sizes.
    </p>
    <a href="../portfolio/Ryan.html" target="_blank" rel="noopener" class="solidbutton">Learn more about me</a>
  </div>
</section>