<section class="cta-section animate-fade-up" id="teamCta">
    <h1>Sit down and have a drink</h1>

    <div class="cta-drinks">
        <img src="../assets/images/CappuccinoCoffee.webp" alt="cappucino coffee" class="cta-drink cta-drink--1">
        <img src="../assets/images/fantaorange.png" alt="fanta orange" class="cta-drink cta-drink--2">
        <img src="../assets/images/hojicha.webp" alt="hojicha" class="cta-drink cta-drink--3">
        <img src="../assets/images/sencha.webp" alt="sencha" class="cta-drink cta-drink--4">
    </div>

    <a href="../pages/ProductPage.html" class="solidbutton">Have a drink</a>
</section>