<section class="team-row  team-row--reverse animate-fade-up">
    <div class="img-sec">
      <img src="../assets/images/Prav/personal photo.jpg" loading="lazy" alt="img of Prav">
    </div>

  <div class="team-info team-info--reverse">
    <span class="category-tag">Member</span>
    <h2>Prav</h2>
    <p class="team-bio">    
      Role for this project is to worked on the login and sign up interface, navigation design, CSS architecture, and JavaScript functionality.
      Pages developed are the Login Page, Sign Up Page, and Individual Portfolio.
      Features built are the login and sign up forms, a responsive navigation bar, reusable header and footer, external CSS styling, and JavaScript form validation.
      Tasks done are created responsive web pages, implemented form validation, developed reusable navigation components, designed a personal portfolio, and maintained a consistent user experience across different screen sizes.
    </p>
    <a href="../portfolio/Pravineesh.html" target="_blank" rel="noopener" class="solidbutton">Learn more about me</a>
  </div>
</section>