<section class="animate-fade-up">
            <div id="cartContent" class="cartContent">

                    <div class="cartSectionHeader">
                        <h2>Cart Items</h2>

                        <button
                            type="button"
                            id="clearCartButton"
                            class="category-tag"
                        >
                            Clear Cart
                        </button>
                    </div>

                    <div id="cartItems" class="cartItems"></div>

            </div>
</section>