<section class="aboutMe" id="about">
    <div class="sectionHeading">
        <p class="sectionLabel">
            About Me
        </p>

        <h2> Get to Know Me!</h2>
    </div>

    <div class="aboutContent">
        <div class="aboutText">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
        
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        
       <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    
    </div>

    <div class="aboutRight">
    <div class="aboutDetails">
        <div class="itemDetails">
            <span>Name</span>
            <strong> Pravineesh Sathiswaran</strong>
        </div>

        <div class="itemDetails">
            <span>Name</span>
            <strong> Pravineesh Sathiswawran</strong>
        </div>

        <div class="itemDetails">
            <span>Name</span>
            <strong> Pravineesh Sathiswawran</strong>
        </div>

        <div class="itemDetails">
            <span>Name</span>
            <strong> Pravineesh Sathiswawran</strong>
        </div>
    </div>
    
        <a href="../assets/images/Pravineesh/Pravineesh_CV.pdf"
    class="aboutCvButton" 
    download>
<i class="fa-solid fa-download"></i>

<span><strong> Download CV</strong></span>
</a>

    </div>

    </div>
</section>