<section class="activitiesSection" id="activities">
    <div class="sectionHeading">
        <p class="sectionLabel">
            Leadership
        </p>

        <h2> My Activities</h2>
    </div>

    <div class="gridActivities">
        <article class="cardActivities">
            <i class="fa-solid fa-users"></i>
            <h3>Team Leader</h3>
            <p> Led a team of 10 volunteers in organizing community events.</p>
        </article>

        <article class="cardActivities">
            <i class="fa-solid fa-users"></i>
            <h3>Team Leader</h3>
            <p> Led a team of 10 volunteers in organizing community events.</p>
        </article>

        <article class="cardActivities">
            <i class="fa-solid fa-users"></i>
            <h3>Team Leader</h3>
            <p> Led a team of 10 volunteers in organizing community events.</p>
        </article>

        <article class="cardActivities">
            <i class="fa-solid fa-users"></i>
            <h3>Team Leader</h3>
            <p> Led a team of 10 volunteers in organizing community events.</p>
        </article>

        <article class="cardActivities">
            <i class="fa-solid fa-users"></i>
            <h3>Team Leader</h3>
            <p> Led a team of 10 volunteers in organizing community events.</p>
        </article>
        
    </div>
</section>"