<section class="certificationsSection" id="certifications">

    <div class="sectionHeading">

        <p class="sectionLabel">
            Certifications
        </p>

        <h2>Achievements &amp; Certifications</h2>

        <p>
            A collection of certificates and achievements earned throughout
            my university and high school life.
        </p>

    </div>

    <div class="certificationsGrid">

        <!-- CERTIFICATE 1: ALWAYS VISIBLE -->

        <article class="certificationCard">

            <a
                href="/src/assets/images/Pravineesh/Dean's List Award.jpg"
                class="certificateImageLink"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="View Dean's List Award certificate"
            >

                <img
                    src="/src/assets/images/Pravineesh/Dean's List Award.jpg"
                    alt="Dean's List Award Certificate"
                    class="certificateImage"
                >

                <span class="certificateOverlay">
                    <i class="fa-solid fa-up-right-from-square"></i>
                    View Certificate
                </span>

            </a>

            <div class="certificateInformation">

                <h3>Dean's List Award</h3>

                <div class="certificateMeta">

                    <span>
                        <i class="fa-solid fa-university"></i>
                        Sunway University
                    </span>

                    <span>
                        <i class="fa-solid fa-calendar"></i>
                        2025
                    </span>

                </div>

            </div>

        </article>


        <!-- CERTIFICATE 2: ALWAYS VISIBLE -->

        <article class="certificationCard">

            <a
                href="/src/assets/images/Pravineesh/Sunway ACE Scholarship Award.jpg"
                class="certificateImageLink"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="View Sunway ACE Scholarship Award certificate"
            >

                <img
                    src="/src/assets/images/Pravineesh/Sunway ACE Scholarship Award.jpg"
                    alt="Sunway ACE Scholarship Award Certificate"
                    class="certificateImage"
                >

                <span class="certificateOverlay">
                    <i class="fa-solid fa-up-right-from-square"></i>
                    View Certificate
                </span>

            </a>

            <div class="certificateInformation">

                <h3>Sunway ACE Scholarship Award</h3>

                <div class="certificateMeta">

                    <span>
                        <i class="fa-solid fa-university"></i>
                        Sunway University
                    </span>

                    <span>
                        <i class="fa-solid fa-calendar"></i>
                        2025
                    </span>

                </div>

            </div>

        </article>


        <!-- CERTIFICATE 3: ALWAYS VISIBLE -->

        <article class="certificationCard">

            <a
                href="/src/assets/images/Pravineesh/Hong Kong Innovation Contest Gold Award Cert.jpg"
                class="certificateImageLink"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="View Hong Kong Innovation Contest Gold Award certificate"
            >

                <img
                    src="/src/assets/images/Pravineesh/Hong Kong Innovation Contest Gold Award Cert.jpg"
                    alt="Hong Kong Innovation Contest Gold Award Certificate"
                    class="certificateImage"
                >

                <span class="certificateOverlay">
                    <i class="fa-solid fa-up-right-from-square"></i>
                    View Certificate
                </span>

            </a>

            <div class="certificateInformation">

                <h3>Hong Kong Innovation Contest Gold Award</h3>

                <div class="certificateMeta">

                    <span>
                        <i class="fa-solid fa-building"></i>
                        Yan Chai Hospital Tung Chi Ying Memorial Secondary School
                    </span>

                    <span>
                        <i class="fa-solid fa-calendar"></i>
                        2018
                    </span>

                </div>

            </div>

        </article>


        <!-- HIDDEN CERTIFICATES -->

        <div
            class="extraCertifications"
            id="extraCertifications"
            aria-hidden="true"
        >

            <div class="extraCertificationsInner">


                <!-- CERTIFICATE 4 -->

                <article class="certificationCard">

                    <a
                        href="/src/assets/images/Pravineesh/Hong Kong Innovation Contest Special Award.jpg"
                        class="certificateImageLink"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="View Hong Kong Innovation Contest Special Award certificate"
                    >

                        <img
                            src="/src/assets/images/Pravineesh/Hong Kong Innovation Contest Special Award.jpg"
                            alt="Hong Kong Innovation Contest Special Award Certificate"
                            class="certificateImage"
                        >

                        <span class="certificateOverlay">
                            <i class="fa-solid fa-up-right-from-square"></i>
                            View Certificate
                        </span>

                    </a>

                    <div class="certificateInformation">

                        <h3>Hong Kong Innovation Contest Special Award</h3>

                        <div class="certificateMeta">

                            <span>
                                <i class="fa-solid fa-building"></i>
                                Yan Chai Hospital Tung Chi Ying Memorial Secondary School
                            </span>

                            <span>
                                <i class="fa-solid fa-calendar"></i>
                                2018
                            </span>

                        </div>

                    </div>

                </article>


                <!-- CERTIFICATE 5 -->

                <article class="certificationCard">

                    <a
                        href="/src/assets/images/Pravineesh/Interact Club President 23-24.jpg"
                        class="certificateImageLink"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="View Interact Club President certificate"
                    >

                        <img
                            src="/src/assets/images/Pravineesh/Interact Club President 23-24.jpg"
                            alt="Interact Club President Certificate"
                            class="certificateImage"
                        >

                        <span class="certificateOverlay">
                            <i class="fa-solid fa-up-right-from-square"></i>
                            View Certificate
                        </span>

                    </a>

                    <div class="certificateInformation">

                        <h3>Interact Club President</h3>

                        <div class="certificateMeta">

                            <span>
                                <i class="fa-solid fa-building"></i>
                                Sekolah Menengah Kebangsaan Subang Utama
                            </span>

                            <span>
                                <i class="fa-solid fa-calendar"></i>
                                2024
                            </span>

                        </div>

                    </div>

                </article>


                <!-- CERTIFICATE 6 -->

                <article class="certificationCard">

                    <a
                        href="/src/assets/images/Pravineesh/PRDA Head SUMUNC 23.jpg"
                        class="certificateImageLink"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="View Head of PRDA SUMUNC 23 certificate"
                    >

                        <img
                            src="/src/assets/images/Pravineesh/PRDA Head SUMUNC 23.jpg"
                            alt="Head of PRDA SUMUNC 23 Certificate"
                            class="certificateImage"
                        >

                        <span class="certificateOverlay">
                            <i class="fa-solid fa-up-right-from-square"></i>
                            View Certificate
                        </span>

                    </a>

                    <div class="certificateInformation">

                        <h3>Head of PRDA SUMUNC 23</h3>

                        <div class="certificateMeta">

                            <span>
                                <i class="fa-solid fa-building"></i>
                                Sekolah Menengah Kebangsaan Subang Utama
                            </span>

                            <span>
                                <i class="fa-solid fa-calendar"></i>
                                2023
                            </span>

                        </div>

                    </div>

                </article>


                <!-- CERTIFICATE 7 -->

                <article class="certificationCard">

                    <a
                        href="/src/assets/images/Pravineesh/Treasurer Prefectorial Board 22-23.jpg"
                        class="certificateImageLink"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="View Treasurer Prefectorial Board certificate"
                    >

                        <img
                            src="/src/assets/images/Pravineesh/Treasurer Prefectorial Board 22-23.jpg"
                            alt="Treasurer Prefectorial Board Certificate"
                            class="certificateImage"
                        >

                        <span class="certificateOverlay">
                            <i class="fa-solid fa-up-right-from-square"></i>
                            View Certificate
                        </span>

                    </a>

                    <div class="certificateInformation">

                        <h3>Treasurer, Prefectorial Board</h3>

                        <div class="certificateMeta">

                            <span>
                                <i class="fa-solid fa-building"></i>
                                Sekolah Menengah Kebangsaan Subang Utama
                            </span>

                            <span>
                                <i class="fa-solid fa-calendar"></i>
                                2023
                            </span>

                        </div>

                    </div>

                </article>


                <!-- CERTIFICATE 8 -->

                <article class="certificationCard">

                    <a
                        href="/src/assets/images/Pravineesh/Police Cadets Foot Drill Training.jpg"
                        class="certificateImageLink"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="View Police Cadets Foot Drill Training certificate"
                    >

                        <img
                            src="/src/assets/images/Pravineesh/Police Cadets Foot Drill Training.jpg"
                            alt="Police Cadets Foot Drill Training Certificate"
                            class="certificateImage"
                        >

                        <span class="certificateOverlay">
                            <i class="fa-solid fa-up-right-from-square"></i>
                            View Certificate
                        </span>

                    </a>

                    <div class="certificateInformation">

                        <h3>Police Cadets Foot Drill Training</h3>

                        <div class="certificateMeta">

                            <span>
                                <i class="fa-solid fa-building"></i>
                                Sekolah Menengah Kebangsaan Subang Utama
                            </span>

                            <span>
                                <i class="fa-solid fa-calendar"></i>
                                2022
                            </span>

                        </div>

                    </div>

                </article>


                <!-- CERTIFICATE 9 -->

                <article class="certificationCard">

                    <a
                        href="/src/assets/images/Pravineesh/Leadership Camp 23.jpg"
                        class="certificateImageLink"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="View Leadership Camp 23 certificate"
                    >

                        <img
                            src="/src/assets/images/Pravineesh/Leadership Camp 23.jpg"
                            alt="Leadership Camp 23 Certificate"
                            class="certificateImage"
                        >

                        <span class="certificateOverlay">
                            <i class="fa-solid fa-up-right-from-square"></i>
                            View Certificate
                        </span>

                    </a>

                    <div class="certificateInformation">

                        <h3>Leadership Camp 23</h3>

                        <div class="certificateMeta">

                            <span>
                                <i class="fa-solid fa-building"></i>
                                Sekolah Menengah Kebangsaan Subang Utama
                            </span>

                            <span>
                                <i class="fa-solid fa-calendar"></i>
                                2023
                            </span>

                        </div>

                    </div>

                </article>

            </div>

        </div>

    </div>


    <!-- VIEW MORE BUTTON -->

    <button
        type="button"
        class="certificationToggleButton"
        id="certificationToggleButton"
        aria-expanded="false"
        aria-controls="extraCertifications"
    >

        <span class="certificationToggleText">
            View More Certificates
        </span>

        <i class="fa-solid fa-chevron-down"></i>

    </button>

</section>