<section class="educationSection" id="education">

    <div class="sectionHeading">

        <p class="sectionLabel">
            My Education
        </p>

        <h2>Academic Background</h2>

    </div>
    <div class="educationGrid">
    <article class="cardEducation">

        <div class="educationCardTop">

            <div class="iconEducation">
                <i class="fa-solid fa-university" aria-hidden="true"></i>
            </div>

            <div class="educationHeading">

                <div class="educationUniversityRow">

                    <h3>Sunway University</h3>

                    <span class="educationStatus">
                        Current
                    </span>

                </div>

                <p class="educationLocation">
                    <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                    Subang Jaya, Selangor
                </p>

            </div>

        </div>

        <div class="educationDetails">

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-book-open" aria-hidden="true"></i>
                </div>

                <div>
                    <span>Programme</span>

                    <strong>
                        Bachelor of Software Engineering (Hons)
                    </strong>
                </div>

            </div>

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>

                <div>
                    <span>Study Period</span>
                    <strong>September 2025 – September 2028</strong>
                </div>

            </div>

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-award" aria-hidden="true"></i>
                </div>

                <div>
                    <span>Scholarship</span>
                    <strong>Sunway ACE Scholarship</strong>
                    <small>Received in November 2025</small>
                </div>

            </div>

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                </div>

                <div>
                    <span>Current GPA</span>
                    <strong class="educationGpa">3.92</strong>
                </div>

            </div>

        </div>

    </article>

    <article class="cardEducation">

        <div class="educationCardTop">

            <div class="iconEducation">
                <i class="fa-solid fa-university" aria-hidden="true"></i>
            </div>

            <div class="educationHeading">

                <div class="educationUniversityRow">

                    <h3>Sunway College</h3>

                    <span class="educationStatus">
                        Completed
                    </span>

                </div>

                <p class="educationLocation">
                    <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                    Subang Jaya, Selangor
                </p>

            </div>

        </div>

        <div class="educationDetails">

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-book-open" aria-hidden="true"></i>
                </div>

                <div>
                    <span>Programme</span>

                    <strong>
                        Foundation in Science and Technology (FIST)
                    </strong>
                </div>

            </div>

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>

                <div>
                    <span>Study Period</span>
                    <strong>August 2024 – August 2025</strong>
                </div>

            </div>

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-award" aria-hidden="true"></i>
                </div>

                <div>
                    <span>Awards</span>
                    <strong>Sunway Academic Excellence Award</strong>
                    <small>Received in September 2025</small>
                </div>

            </div>

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                </div>

                <div>
                    <span> GPA</span>
                    <strong class="educationGpa">4.00</strong>
                </div>

            </div>

        </div>

    </article>

    <article class="cardEducation">

        <div class="educationCardTop">

            <div class="iconEducation">
                <i class="fa-solid fa-school" aria-hidden="true"></i>
            </div>

            <div class="educationHeading">

                <div class="educationUniversityRow">

                    <h3>Sekolah Menengah Kebangsaan Subang Utama (SMKSU) </h3>

                    <span class="educationStatus">
                        Completed
                    </span>

                </div>

                <p class="educationLocation">
                    <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                    Subang Jaya, Selangor
                </p>

            </div>

        </div>

        <div class="educationDetails">

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-book-open" aria-hidden="true"></i>
                </div>

                <div>
                    <span>Education Level</span>

                    <strong>
                        Sijil Pelajaran Malaysia (SPM) <br>
                        Results: 9A (4A+, 3A, 2A-)
                    </strong>
                </div>

            </div>

            <div class="educationDetailItem">

                <div class="educationDetailIcon">
                    <i class="fa-solid fa-calendar-days" aria-hidden="true"></i>
                </div>

                <div>
                    <span>Study Period</span>
                    <strong>January 2019 - February 2024 </strong>
                </div>

            </div>
        </div>

    </article>
</div>
</section>