<section class="educationSection" id="education">
    <div class="sectionHeading">

        <p class="sectionLabel">
            My Education
        </p>

        <h2> Academic Background</h2> 
    </div>

    <article class="cardEducation">
        <div class="iconEducation">
            <i class="fa-solid fa-graduation-cap"></i>
        </div>

        <div class="informationEducation">
            <p class="dateEducation">2018 - 2022</p>

            <h3> Bachelor of Software Engineering (Hons)</h3>

            <p class="instituionEducation">University of XYZ</p>

            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

            <div class="moduleList">
                <span> Test 1</span>
                 <span> Test 1</span>
                  <span> Test 1</span>
            </div>
        </div>
    </article>
</section>