<section class="experienceSection" id="experience">
    <div class="sectionHeading">

        <p class="sectionLabel">
            Experience
        </p>

        <h2> Volunteering Experience </h2>
    </div>

    <div class="timeline"> 
        <article class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
                <h3>Volunteer at Local Community Center</h3>
                <span class="timeline-date">Jan 2020 - Dec 2020</span>
                <p>Assisted in organizing community events and activities, providing support to local residents, and helping with administrative tasks.</p>
                 <ul>
                    <li>
                        Assisted in teaching Mathematics and English
                        to students aged 7–18.
                    </li>

                    <li>
                        Marked worksheets and provided guidance when
                        students experienced difficulties.
                    </li>

                    <li>
                        Supported younger children in developing their
                        reading, writing and numeracy skills.
                    </li>
                </ul>

            </div>

        </article>

        <article class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
                <h3>Volunteer at Local Animal Shelter</h3>
                <span class="timeline-date">Feb 2021 - Present</span>
                <p>Assisted in caring for animals, cleaning and maintaining the shelter, and helping with adoption events.</p>
                 <ul>
                    <li>
                        Assisted in teaching Mathematics and English
                        to students aged 7–18.
                    </li>

                    <li>
                        Marked worksheets and provided guidance when
                        students experienced difficulties.
                    </li>

                    <li>
                        Supported younger children in developing their
                        reading, writing and numeracy skills.
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>