
<header class="portfolioHeader">

    <a href="/src/pages/AboutTeam.html" class="portfolioLogo">
        Pravineesh
    </a>

    <nav class="portfolioNav" aria-label="Portfolio Navigation">
        <a href="/src/portfolio/Pravineesh.html"> Home</a>
         <a href="/src/portfolio/Pravineesh.html#about"> About Me</a>
         <a href="/src/portfolio/Pravineesh.html#education"> Education</a>
          <a href="/src/portfolio/Pravineesh.html#experience"> Experience</a>
         <a href="/src/portfolio/Pravineesh.html#skills"> Skills</a>
         <a href="/src/portfolio/Pravineesh.html#projects"> Projects</a>
         <a href="/src/portfolio/Pravineesh.html#certifications"> Certifications</a>
        <a href="/src/portfolio/Pravineesh.html#contact"> Contact</a>

    </nav>

    