<section class="hero" id="home">

    <div class="hero-content">

        <p class="introductionHero">
            Welcome to my Portfolio!
        </p>

        <h1> Hi! I'm Pravineesh Sathiswaran. </h1>

        <h2> First-Year Software Engineering Student </h2>

        <p class="descriptionHero">
            A first year Software Engineering student currently studying in Sunway University with an interest in
            back-end and front-end software development and creating practical digital solutions.
        </p>

        <div class="buttonsHero">

            <a href="#projects" class="primaryButton">
                View My Projects
            </a>

            <a href="#contact" class="secondaryButton">
                Get in touch with me!
            </a>
        </div>

        <div class="socialsHero">
            <a href="https://github.com/pravineesh7732" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>

            <a href="https://www.linkedin.com/in/pravineesh-s-sathiswaran-7937043aa/" target="_blank"
                rel="noopener noreferrer" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>

            <a href="mailto:pravineesh7732@gmail.com" aria-label="Email">
                <i class="fa-solid fa-envelope" aria-hidden="true"></i>
            </a>
        </div>

    </div>

    <div class="imageHeroContainer">
        <div class="imageHeroBackground">
            <img src="/src/assets/images/Pravineesh/Pravineesh.jpg" alt="Pravineesh" class="heroImage">
        </div>
    </div>
</section>