<section class="projectsSection" id="projects">
    <div class="sectionHeading">
        <p class="sectionLabel">
            Projects
        </p>

        <h2> My Projects</h2>
    </div>

    <div class="projectsContent">
        <div class="projectCard">
            <img src="../assets/images/Pravineesh/Project1.png" alt="Project 1 Image" loading="lazy">
            <h3>Project 1</h3>
            <p>Description of Project 1.</p>
            <a href="#" target="_blank" rel="noopener" class="solidbutton">View Project</a>
        </div>

        <div class="projectCard">
            <img src="../assets/images/Pravineesh/Project2.png" alt="Project 2 Image" loading="lazy">
            <h3>Project 2</h3>
            <p>Description of Project 2.</p>
            <a href="#" target="_blank" rel="noopener" class="solidbutton">View Project</a>
        </div>

        <div class="projectCard">
            <img src="../assets/images/Pravineesh/Project3.png" alt="Project 3 Image" loading="lazy">
            <h3>Project 3</h3>
            <p>Description of Project 3.</p>
            <a href="#" target="_blank" rel="noopener" class="solidbutton">View Project</a>
        </div>
    </div>
</section>