<section class="projectsSection" id="projects">
    <div class="sectionHeading">
        <p class="sectionLabel">
            Projects
        </p>

        <h2> Career Projects</h2>
    </div>

    <div class="projectsContent">
        <div class="projectCard">
            <img src="/src/assets/images/Pravineesh/Drinks.png" alt="Project 1 Image" loading="lazy">
            <h3>Drinks Industries - A Beverage Company Website</h3>
            <p>Drinks is a website that was created for abeverage company, showcasing their products and services with an aim to provide a wide range of refreshing and high-quality drinks to customers worldwide.</p>
            <a href="/src/pages/HomePage.html" target="_blank" rel="noopener" class="solidbutton">View Project</a>
        </div>

        <div class="projectCard">
            <img src="/src/assets/images/Pravineesh/Portfolio.png" alt="Project 2 Image" loading="lazy">
            <h3>Individual Portfolio Website</h3>
            <p>A responsive portfolio website showcasing my skills and projects.</p>
            <a href="/src/portfolio/Pravineesh.html" target="_blank" rel="noopener" class="solidbutton">View Project</a>
        </div>

        <div class="projectCard">
            <img src="/src/assets/images/Pravineesh/FindApp.png" alt="Project 3 Image" loading="lazy">
            <h3>Find my Ah Ma! - An Elderly Care App</h3>
            <p>A mobile application designed to help elderly individuals find their way back home and connect with their families.</p>
            <a href="https://github.com/Gohpeijia/MyHack2026" target="_blank" rel="noopener" class="solidbutton">View Project</a>
        </div>
    </div>
</section>