<footer class="siteFooter">

    <div class="footerContent">

        <div class="footerAbout">

            <div class="footerLogo">
                DRINKS
            </div>

            <p class="footerDescription">
                Established in 2026, Drinks is a beverage company that aims to provide a wide range of refreshing and high-quality drinks to customers worldwide.
                 Our mission is to quench your thirst and bring joy to every sip. We aim to create beverages that not only taste great but also promote a healthy and sustainable lifestyle.
                 We are committed to using the finest ingredients, innovative brewing techniques, and environmentally friendly practices to ensure that our drinks are not only delicious but also good for you and the planet.
            </p>

            <div class="footerSocials">

                <a href="https://github.com/feelovespotato/WebAssignment" aria-label="Github"
                target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                </a>

                <a href="#" aria-label="YouTube"
                target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-youtube"></i>
                </a>

            </div>

        </div>

        <div class="footerLinks">

            <div class="footerColumn">

                <h3>Useful Links</h3>
                <a href="/src/pages/ProductPage.html">Our Products</a>
                <a href="/src/pages/AboutTeam.html">Meet the Team</a>
                <a href="/src/pages/HomePage.html#CustomerReviews">Reviews</a>
                <a href="/src/pages/ProductPage.html#Search">Finding a Drink?</a>

            </div>

            <div class="footerColumn">

                <h3>Countries</h3>
                <a href="/src/pages/HomePage.html">Malaysia</a>
                <a href="/src/components/productpage/ComingSoon.html">Singapore</a>
            </div>

        </div>

    </div>

    <div class="footerBottom">

        <p>
            Copyright &copy;
            <span id="footerYear"></span>
            DRINKS INDUSTRIES — All Rights Reserved.
        </p>

        <div class="footerLegal">
            <a href="#">Privacy Policy</a>
            <span>|</span>
            <a href="#">Terms &amp; Conditions</a>
        </div>

    </div>

</footer>