<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title> Pokka Drinks </title>
    <link rel="stylesheet" href="C:\Users\Pravineesh\WebAssignment\src\assets\styles\navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar">

        <a href="src\pages\LoginPage.html" class="navbarlogo">Pokka</a>

        <ul class="navLinks">
            <li><a href="MainDisplay.html">Home</a></li>
             <li><a href="DrinkCategories.html">Products</a></li>
              <li><a href="#">Support</a></li>
               <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
        </ul>

        <div class="navButtons">
            <a href="LoginPage.html" class="loginButton">Login</a>
            <a href="SignupPage.html" class="signupButton">Signup</a>
            <button id="WebsiteTheme" class="themeToggle">Want to change the theme?</button>
            
        </div>
    </nav>
    <script src="C:\Users\Pravineesh\WebAssignment\src\js\navbar.js"></script>
</body>
</html>