<nav class="navbar">

    <a href="HomePage.html" class="navbarlogo">
        Pokka
    </a>

    <ul class="navLinks">

        <li>
            <a href="HomePage.html">Home</a>
        </li>

        <li>
            <a href="ProductPage.html">Products</a>
        </li>

        <li>
            <a href="#">Support</a>
        </li>

        <li>
            <a href="AboutTeam.html">About Us</a>
        </li>

        <li>
            <a href="#">Contact</a>
        </li>

    </ul>

    <div class="navButtons">

        <a href="LoginPage.html" class="loginButton">
            Login
        </a>

        <a href="SignupPage.html" class="signupButton">
            Signup
        </a>

        <a href="CartPage.html" class="cartButton" aria-label="Shopping cart">
            <i class="fa-solid fa-shopping-cart"></i>
            <span id="cartCount">0</span>
        </a>

        <button
            type="button"
            id="WebsiteTheme"
            class="themeToggle"
        >
            Switch to dark mode
        </button>

    </div>

</nav>