<!-- Hero Section -->
    <section id="hero">
        <div class="container hero-content">
            <p class="hero-tag">Welcome to my personal portfolio</p>
            <h1 class="hero-title">Hi, I'm Andrea Lee</h1>
            <div class="hero-typewriter">
                I am a <span class="typewrite-text" id="typewrite-text"></span>
            </div>
            <div class="btn-group">
                <a href="#projects" class="btn btn-primary">My Projects</a>
                <a href="#contact" class="btn btn-secondary">Get In Touch</a>
            </div>
        </div>
    </section>