<!-- Team Member - Ryan -->
<section id="teamCardRyan">
  <article class="team-card">
    <div class="member-avatar">👨‍💻</div>
    <h2>Member</h2>
    <div class="member-name">Ryan Gabriel Stevens</div>
    <div class="contribution-metrics">
      <ul>
        <li><strong>Role</strong>
            User Interface, 
            Portfolio Design, 
            CSS Architecture
        </li>
        <li><strong>Pages Owned</strong>
            Home Page, 
            Individual Portfolio
        </li>
        <li><strong>Features Developed</strong>             
            Responsive Layout,
            Responsive Theme Colour, 
            Individual Porfolio page,
            External CSS Styling, 
            JavaScript Interactivity
        </li>
        <li><strong>Tasks Completed</strong> 
            Wrote HTML, CSS, and JavaScript for the Home Page and Individual Porfolio Page; 
            designed a responsive landing page introducing the product, created a user-friendly interface with clear call-to-call action elements,
            developed a personal portfolio showcasing skills and projects, and maintained a consistent responsive design across different screen sizes.
        </li>
      </ul>
    </div>
    <div class="member-actions">
      <a href="../portfolio/portfolio-member3.html" class="action-btn btn-portfolio">View Portfolio</a>
      <div id="downloadButtonRyan"></div>
    </div>
  </article>
</section>
