<section class="container animate-fade-up">
        <header >

            <h1> Reset Your Password</h1>

            <p class="subtitle"> Please enter the email address associated with your Pokka account.</p>
        </header>

        <section id="emailstep" class="sectioncontainer">
        
            <div class="stepindicator">
                Step 1/2
            </div>

            <form id="emailValidationForm">
                <label for="emailReset">
                    Email Address
                </label>

                <input
                type="email"
                id="emailReset"
                name="emailReset"
                placeholder="Enter your email address"
                autocomplete="email"
                required>

                <p
                id="emailMessage"
                class="formMessage"
                aria-live="polite"></p>

                <button
                type="submit"
                class="solidbutton">
                Validate Email
            </button>
            </form>

            <a href="LoginPage.html" class="returnToLogin">
                <i class=" fa-solid fa-arrow-left"></i>
                Back to Login Page
            </a>
   </section>
        
    <section
        id="passwordstep"
        class="sectioncontainer hidden">
    
        <div class="stepindicator">
            Step 2/2
        </div>

        <p class="accountMessage">
            Resetting the password for:
            <strong id="validatedEmail"></strong>
        </p>

        <form id="passwordResetForm">

            <label for="newPassword">
                New Password
            </label>

            <div class="passwordContainer">

                <input
                type="password"
                id="newPassword"
                name="newPassword"
                placeholder="Please enter a new password"
                autocomplete="new-password"
                required>

                <i  id="toggleNewPassword"
                aria-label="Show new password"
                class="fa-solid fa-eye-slash"></i>
            </div>

            <label for="confirmNewPassword">
                Confirm New Password
            </label>

            <div class="passwordContainer">

                    <input
                        type="password"
                        id="confirmNewPassword"
                        name="confirmNewPassword"
                        placeholder="Confirm your new password"
                        autocomplete="new-password"
                        required
                    >
                    
                    <i id="toggleConfirmNewPassword"
                    aria-label="Show confirmed password" 
                    class="fa-solid fa-eye-slash"></i>
                    
                </div>

             <div class="passwordRequirements">

                    <p>Your new password must contain:</p>

                    <ul>
                        <li>At least 8 characters</li>
                        <li>At least one uppercase letter</li>
                        <li>At least one lowercase letter</li>
                        <li>At least one number</li>
                    </ul>

                </div>

                <p
                    id="passwordMessage"
                    class="formMessage"
                    aria-live="polite"
                ></p>

                <button
                    type="submit"
                    class="solidbutton"
                >
                    Change Password
                </button>

                <button
                    type="button"
                    id="backToEmailButton"
                    class="category-tag"
                >
                    Use a Different Email
                </button>
        </form>
    </section>
     
     <section
            id="successStep"
            class="sectioncontainer resetSuccess hidden"
        >

            <div class="success">
                <i class="fa-solid fa-check"></i>
            </div>

            <h2>Password Changed!</h2>

            <p>
                Your Pokka account password has been successfully updated.
            </p>

            <a
                href="LoginPage.html"
                class="solidbutton"
            >
                Return to Login
            </a>

        </section>
</section>