<section class="container">

    <header>
        <h1>Welcome back to Pokka!</h1>

        <p class="subtitle">
            Please sign in to continue to your Pokka account.
        </p>
    </header>

    <form
        id="loginFormElement"
        action="#"
        method="post"
    >

        <label for="email">
            Email Address
        </label>

        <input
            type="email"
            id="email"
            name="email"
            placeholder="Email Address"
            required
        >


        <label for="password">
            Password
        </label>

        <div class="passwordContainer">

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
            >

            <i class="fa-solid fa-eye-slash"
                id="togglePassword"
                role="button"
                aria-label="Show or hide password"></i>

        </div>


        <a href="ForgotPasswordPage.html" class="forgot">
            Forgot your Password?
        </a>


        <label for="pin"> 4 Digit PIN Code </label>

        <input
            type="text"
            id="pin"
            name="pin"
            placeholder="4 Digit PIN Code"
            minlength="4"
            maxlength="4"
            pattern="[0-9]{4}"
            inputmode="numeric"
            oninput="this.value=this.value.replace(/[^0-9]/g, '')"
            required
        >


        <div class="remember-selection">

            <label class="remember">

                <input
                    type="checkbox"
                    name="remember">
                Remember My ID </label>

        </div>


        <button
            type="submit"
            class="solidbutton"
        >
            Login
        </button>

    </form>


    <p class="authFooter">
        Don't have an account?
        <a href="SignupPage.html">Join us!</a>
    </p>

</section>