<section id="ryan-education" class="animate-fade-up">
  <h2>Education</h2>

  <div class="ryan-edu-card">
    <h3>Primary School</h3>
    <p class="ryan-edu-school">SJK(C) Chung Hwa </p>
    <p class="ryan-edu-year">2013 — 2017</p>
  </div>

  <div class="ryan-edu-card">
    <h3>Secondary School</h3>
    <p class="ryan-edu-school">BeaconHouse Sri Murni</p>
    <p class="ryan-edu-year">2017 — 2023</p>
  </div>

  <div class="ryan-edu-card">
    <h3>Foundation in Science and Technology (FIST)</h3>
    <p class="ryan-edu-school">Sunway College</p>
    <p class="ryan-edu-year">2024 — 2025</p>
  </div>

  <div class="ryan-edu-card">
    <h3>Bachelor of Software Engineering (Hons)</h3>
    <p class="ryan-edu-school">Sunway University</p>
    <p class="ryan-edu-year">2025 — Present</p>
  </div>

</section>