<section id="RyanEducation" class="animate-fade-up">
  <h2>Education</h2>

  <div class="RyanEducationCard ">
    <h3>Primary School</h3>
    <p class="RyanEducationSchool">SJK(C) Chung Hwa </p>
    <p class="RyanEducationYear">2013 — 2017</p>
  </div>

  <div class="RyanEducationCard">
    <h3>Secondary School</h3>
    <p class="RyanEducationSchool">BeaconHouse Sri Murni</p>
    <p class="RyanEducationYear">2017 — 2023</p>
  </div>

  <div class="RyanEducationCard">
    <h3>Foundation in Science and Technology (FIST)</h3>
    <p class="RyanEducationSchool">Sunway College</p>
    <p class="RyanEducationYear">2024 — 2025</p>
  </div>

  <div class="RyanEducationCard">
    <h3>Bachelor of Software Engineering (Hons)</h3>
    <p class="RyanEducationSchool">Sunway University</p>
    <p class="RyanEducationYear">2025 — Present</p>
  </div>

</section>