<section id="RyanHero" class="UpFadeInAnimation">
  <div id="RyanHeroImg">
    <img src="../assets/images/Ryan/RyanImage.jpeg" alt="Ryan Gabriel Stevens">
  </div>
  <div id="RyanHeroText">
    <h1>Ryan Gabriel Stevens</h1>

    <span class="category-tag CategoryTag">Bachelor of Software Engineering</span>
    
    <p id="RyanBio">Hey there i am Ryan Gabriel Stevens! I am a passionate software engineering student with a strong interest in coding and game development.  I enjoy creating 
      innovative solutions and continuously learning new technologies to enhance my skills. Feel free to explore my portfolio to see some of the projects I've worked on and 
      the skills I've acquired along the way :D </p>
    <button id="RyanCVButton" onclick="window.print()">Download CV</button>
  </div>
</section>