@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background-color: #fff;
    min-height: 100%;
    margin: 0;
}

/*for padding in whole contents*/
main{
    padding-left: clamp(1rem, 5vw, 3rem);
    padding-right: clamp(1rem, 5vw, 3rem);
    padding-bottom: clamp(1rem, 5vw, 3rem);
}

section {
    padding-top: clamp(2rem, 4vw, 3rem);
    padding-bottom: clamp(2rem, 4vw, 3rem);
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: clamp(3rem, 5vw, 4rem);
    margin-bottom: 1rem;
    color: var(--title);
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--drinktitle);
    font-size: clamp(1.25rem, 1.1rem + 1vw, 1.45rem);
    margin:0;/* Reset default browser margins */
}

p{
    font-family: 'Montserrat';
    font-size: clamp(1rem, 0.8rem + 1vw, 1.5rem);
    margin:0;
}

img, video {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border:0;

}
/*-----------------------------------------------------------------------------------------*/
.animate-fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s cubic-bezier(0.25, 1, 0.5, 1),
                transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.animate-fade-up.in-view {
    opacity: 1;
    transform: translateY(0);
}

/*---------------------------------------------------------------------------*/
/*category product descriptions*/
.halfvisibletext{
    color: var(--halfvisibletext);
    font-size: clamp(0.5rem, 0.9rem + 0.3vw, 1.5rem);
}

/*description below title*/
.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100; 
}

/*----------------------------------------------------------------------------------------*/
/*for red color button*/
.solidbutton{
    border: 1px solid var(--redborderbutton);
    background-color: var(--redbutton);
    border-radius: 100vw;
    padding-left: clamp(2rem, 1.5rem + 2vw, 3rem);
    padding-right:clamp(2rem, 1.5rem + 2vw, 3rem);
    padding-top:clamp(1.25rem, 2vw, 1.4rem);
    padding-bottom:clamp(1.25rem, 2vw, 1.4rem);
    
    
    /*text in button*/
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color:var(--textwhite);
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
    cursor:pointer;
    
}

input {
    border: 1px solid var(--grayborder);
    border-radius:100vw;
    padding-left: clamp(1.25rem, 2rem + 3.5vw, 15rem);
    padding-right: clamp(1.25rem, 2rem + 3.5vw, 15rem);
    padding-top: clamp(0.75rem, 0.5rem + 0.5vw, 1rem);   
    padding-bottom: clamp(0.75rem, 0.5rem + 0.5vw, 1rem);

    /*seach bar text*/
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
    width: clamp(25rem, 50vw, 40rem);
}