/* NAVBAR */
/*adding space-between makes gapping guaranteed */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: var(--color-text-dark);
  background-color: var(--color-body-bg);
}

nav { 
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px 32px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  width:100%;
  background-color: var(--color-navbar);
  color: var(--color-text-light);
}

nav ul {
  display: flex;  
  list-style: none;
  gap: 24px;
  margin-left: 32px;
  color: var(--color-text-light);
}

nav ul a {
  text-decoration: none;
  color: #333;
  font-family: 'Montserrat', sans-serif; /* makes the font monserrat, if fail return to sans serif */ 
    font-weight: 700; /* bolding value, 900 is extra bold, 700 is normal bold */
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: var(--title)
}

#NavButtons {
  display: flex;
  align-items: center;/* align is for vertical, justify for horizontal */
  gap: 32px;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif; /* makes the font monserrat, if fail return to sans serif */ 
    font-weight: 700; /* bolding value, 900 is extra bold, 700 is normal bold */
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: var(--title)
}

#MainButtons {
  display: flex;
  align-items: center;/* align is for vertical, justify for horizontal */
  gap: 32px;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif; /* makes the font monserrat, if fail return to sans serif */ 
    font-weight: 700; /* bolding value, 900 is extra bold, 700 is normal bold */
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: var(--title)
}

#WebsiteTheme { 
    font-family: 'Montserrat', sans-serif; 
    border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

#logo img {
  width: 100px;
  height: auto;
}

:root {
  --color-navbar: #d729e3;     /* dark brown for navbar */
  --color-body-bg: #ffffff;    /* soft beige for body */
  --color-text-dark: #3b2417;  /* dark brown text */
  --color-text-light: #fdf6ec; /* light text for navbar */
}