/* NAVBAR */
/*adding space-between makes gapping guaranteed */

* {
  box-sizing: border-box;
}
h1 { 
  color: var(--color-text-light);
}

h2 { 
  color: var(--color-text-light);
}

body {
  overflow-x: hidden;
  color: var(--color-text-dark);
  background-color: var(--color-body-bg);
}

nav { 
  color: var(--color-text-light);
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px 32px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  width:100%;
  background-color: var(--color-navbar);
  
}

nav ul {
  display: flex;  
  list-style: none;
  gap: 24px;
  margin-left: 32px;
  color: var(--color-text-light);
}

nav ul a {
  color: var(--color-text-light);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; /* makes the font monserrat, if fail return to sans serif */ 
    font-weight: 700; /* bolding value, 900 is extra bold, 700 is normal bold */
    font-size: clamp(0.8rem, 1vw, 1rem);
    
}

#NavButtons {
   color: var(--color-text-light);
  display: flex;
  align-items: center;/* align is for vertical, justify for horizontal */
  gap: 32px;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif; /* makes the font monserrat, if fail return to sans serif */ 
    font-weight: 700; /* bolding value, 900 is extra bold, 700 is normal bold */
    font-size: clamp(0.8rem, 1vw, 1rem);
    
}

#NavButtons a {
  color: var(--color-text-light);
  text-decoration: none;
}

#MainButtons {
  color: var(--color-text-light);
  display: flex;
  align-items: center;/* align is for vertical, justify for horizontal */
  gap: 32px;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif; /* makes the font monserrat, if fail return to sans serif */ 
    font-weight: 700; /* bolding value, 900 is extra bold, 700 is normal bold */
    font-size: clamp(0.8rem, 1vw, 1rem);
    
}

#WebsiteTheme { 
    font-family: 'Montserrat', sans-serif; 
    border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

#logo img {
  width: 100px;
  height: auto;
}

:root {
  --color-navbar: #72243e;     /* dark brown for navbar */
  --color-body-bg: #FFc5d3;    /* soft beige for body */
  --color-text-dark: #FFFFFF;  /* dark brown text */
  --color-text-light: #D198B7; /* light text for navbar */
}

[data-theme="dark"] {
  --color-navbar: #2a0f1a;
  --color-body-bg: #1a0d12;
  --color-text-dark: #f5d6e0;
  --color-text-light: #f5d6e0;
}