
/*for container purpose*/
#portfolio-header{
    position:relative;
    width: 100%;
    height:100%;
    overflow:hidden;

    margin-bottom:clamp(2rem, 4vw, 4rem) ;
    
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}
/*for tea field background img*/
.hero-bg-img{
    position: absolute;
    inset: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 0;
    
}
/*contianer for red bg card*/
.hero-card{
    position: relative;
    z-index: 1;
    background-color: var(--redbg);
    border-radius: 2rem;
    padding: clamp(2rem, 3vw, 3.5rem);
    width: clamp(25rem, 80vw, 90rem);
    
    margin-top: clamp(3rem, 3rem + 1vw, 5rem);
    margin-bottom: clamp(3rem, 3rem + 1vw, 5rem);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(1.5rem, 3vw, 3rem);
}

/*circle container*/
.img-sec {
    flex-shrink: 0;

    width:clamp(15rem, 17rem + 5vw, 25rem);
    height: clamp(15rem, 17rem + 5vw, 25rem);

    overflow:hidden;
    border-radius: 50%;
    border: 2px solid var(--whiteborderbutton);
    margin-top:clamp(1.5rem , 2rem + 0.5vw, 3rem);
   
}
/*personal img*/
.img-sec img{
    width:100%;
    height: 100%;
    object-fit: cover;         
    display: block;
    
}

/*name + bio container*/
.name-bio-sec {
    width:auto;
    margin-bottom:clamp(1.5rem , 1rem + 0.5vw, 3rem);
    margin-left:clamp(1.5rem , 1rem + 0.5vw, 3rem);
    margin-right:clamp(1.5rem , 1rem + 0.5vw, 3rem);
}
/*bio text for alignment*/
.name-bio-sec p {
    text-align: justify; 
    text-justify: inter-word;
}

/*bring the name + bio part down avoid breaking and not nice*/
@media (max-width: 950px) {
    .hero-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}
/*-------------------------------------------------------------------------------------*/
/*whole front back end container*/
.skills-layout-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: clamp(1rem, 2vw, 1.5rem);
    padding-top: clamp(1rem, 4vw, 2rem);
    padding-bottom: clamp(3rem, 4vw, 4rem);
}

@media (max-width: 768px) {
  .skills-layout-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*front back end*/
.skills-card {
    border-radius: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0 2rem; 
    box-sizing: border-box;
}

/*progress name + progress bar */
.progress-card-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%;
    padding-top: 2rem; 
    padding-bottom: 2rem;
    gap: clamp(1rem, 2vw, 2rem);
    border-radius: 2.5rem;
}

/*for overiding the logo layout when different page size into 2 colooum*/
@media (min-width: 769px) and (max-width: 1300px) {
    .skills-card .productcard-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important; /* overrides 2-column grid for logos */
        gap: 1.5rem;
    }
    
    .skills-card .card {
        width: 100%; 
    }
}

/*container for progress bar*/
.progress-bar{
    flex: 1; 
    max-width: 60rem;
    display: flex;
    align-items: center;
}

/*for fallback*/
.progress-bar progress {
    width: 100%;
    height: clamp(1.2rem, 1rem + 1.5vw, 2rem);
    border-radius: 100vw;
    color:var(--redbg);
    border: 2px solid var(--redborderbutton);
    -webkit-appearance: none;
    appearance: none;
}

/*progress bar initial state*/
@keyframes fillProgress {
    from {
        width: 0;
    }
}
/*undo default*/
.progress-bar progress::-webkit-progress-bar {
    background-color: transparent; 
    border-radius: 100vw; 
}

/* Chrome, Safari, Edge*/ /*also progress bar animation*/
.animate-fade-up.in-view progress::-webkit-progress-value {
    background-color: var(--redbg); 
    border-radius: 100vw;
    animation: fillProgress 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* Firefox*/
.animate-fade-up.in-view progress::-moz-progress-bar {
    background-color: var(--redbg); 
    border-radius: 100vw;
    animation: fillProgress 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
