
/* ── LIGHT MODE (default) ── */
:root {
    /*font color*/
  --halfvisibletext: #515151;
  --redtext: #e51938;
  --title: #252525;
  --textwhite:#fafafa;
  --grayhovertext:#a3a3a3;

  /*button and bg*/
  --redbutton: #E51938;
  --hoverredbutton: #890f22;
  --whitehoverbutton: #e51938;
  --bg:#fff;
  --bgpink:#ffeaf3;
  --whiteborderbutton:#fafafa;
  --redborderbutton:#e51938;
  --grayborder:#a8a8a8;

  /*drinks bg colours*/
  --teabg:#E9F4C4;
  --coffeebg:#F3D6C3;
  --juicebg:#FBDFBE;
  --sodabg:#FCE9B9;
  --functionalbg:#D8EDFA;
  --dairybg:#FEEAE9;
  --localdrinkbg:#FDF4DB;
  --otherbg:#EAE4D4;

  /*drink title color*/
  --drinktitle: #34410b;

  /*portfolio section*/
  --frontendbg:var(--functionalbg);
  --backendbg:var(--bgpink);
  --bgteagreen:var(--teabg);
  --greenborder: #3e432c;
}


