<section class="animate-fade-up">
    <div class="title">
        <h1>Achievement</h1>
        <p class="subtitle">Technical Skills</p>
    </div>
    
    <div class="productcard-container">

        <div class="card" style="background-color:var(--teabg);">
            <div class="img-wrapper">
                <img src="../assets/images/greentea.webp" 
                loading="lazy" 
                alt="Tea" >
            </div>
            
            <div class="product-info">
                <h2>Tea</h2>
                <p class="halfvisibletext">Refreshing tea beverages with rich flavors for every moment.</p>
            </div>
        </div>
    </div>
</section>