<section class="animate-fade-up">
    <div class="title">
        <h1>Achievement</h1>
        <p class="subtitle">Technical Skills</p>
    </div>
    
    <div class="achievement-carousel">

        <button class="carousel-arrow prev-btn" onclick="changeSlide(-1)">
            <span class="arrow">&#10094;</span>
        </button>

         <button class="carousel-arrow next-btn" onclick="changeSlide(1)">
            <span class="arrow">&#10095;</span>
        </button>

        <div class="carousel-viewport">
            <div class="carousel-track">

                <!--slide 1-->
                <div class="carousel-slide">
                    <div class="bento-container">

                        <div class="bento-item span-tall" style="background-color:var(--purplecardbg);">      
                            <div class="achievement-description">
                                <h1>Monash Coding League</h1>
                                <p class="halfvisibletext">Participated and achieved finalist placement among 200+ teams.</p>
                            </div>
                        </div>

                        <div class="bento-item span-feature">
                            <div class="img-wrapper">
                                <img src="../assets/images/Coshin/codeleagueposter.jpeg" 
                                loading="lazy" 
                                alt="poster of monash coding league" >
                            </div>
                        </div>

                        <div class="bento-item span-small">
                            <div class="img-wrapper">
                                <img src="../assets/images/Coshin/monashcode.jpg" 
                                loading="lazy" 
                                alt="certification of monash coding league" >
                            </div>
                        </div>

                        <div class="bento-item span-small">
                            <div class="img-wrapper">
                                <img src="../assets/images/Coshin/monashcodingphoto.jpg" 
                                loading="lazy" 
                                alt="photo of monash coding league" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="bento-container">

                        <div class="bento-item span-tall span-long" style="background-color:var(--bluecardbg);">
                            <div class="achievement-description">
                                <h1>Hack4coverage</h1>
                                <p class="halfvisibletext">entered finalist among 100+ teams.</p>
                            </div>
                        </div>

                        <div class="bento-item span-feature">
                            <div class="img-wrapper">
                                <img src="../assets/images/Coshin/hack4coverage_poster.jpeg" 
                                loading="lazy" 
                                alt="hack4coverage poster" >
                            </div>
                        </div>

                        <div class="bento-item span-small">
                            <div class="img-wrapper">
                                <img src="../assets/images/Coshin/finalistnetwork.jpg" loading="lazy" alt="hackathon photo">
                            </div>
                        </div>

                        <div class="bento-item span-small">
                            <a href="https://canva.link/n41d1nqhjzrb083" target="_blank" rel="noopener noreferrer">
                                <div class="img-wrapper">
                                    <img src="../assets/images/Coshin/Hack4CoveragePitching.png" loading="lazy" alt="hackathon photo">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="carousel-slide">
                    <div class="bento-container">

                        <div class="bento-item span-feature" style="background-color:var(--portfoliobg);">
                            <div class="achievement-description">
                                <h1>Director of multimedia and marketing department</h1>
                                <p class="halfvisibletext">Head of Multimedia & Marketing — ZODIAC Gaze Event, SUCCS Club</p>
                            </div>
                        </div>

                        <div class="bento-item span-small span-tall">
                            <div class="img-wrapper">
                                <img src="../assets/images/Coshin/hod.jpg" loading="lazy" alt="hod certification photo">
                            </div>
                        </div>

                        <div class="bento-item span-small span-tall ">
                            <div class="img-wrapper">
                                <img src="../assets/images/Coshin/team.jpeg" loading="lazy" alt="marketing and multimedia team photo">
                            </div>
                        </div>

                        <div class="bento-item span-tall">
                            <a href="https://canva.link/oidoaztz4590w4z" target="_blank" rel="noopener noreferrer">
                                <div class="img-wrapper">
                                    <img src="../assets/images/Coshin/hoddesign.png" loading="lazy" alt="event theme design">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    
</section>