<section class="animate-fade-up">
    <div id="portfolio-header">
        <div class="img-sec">
            <img src="../assets/images/krisantimum.png" loading="lazy" alt="img of Coshin">
        </div>

        <div class="name-bio-sec">
            <h1>Coshin Lee</h1>
            <hr>
            <p>Hi! I'm Coshin, a Software Engineering student.</p>
            <p>I like taking on new challenges, improving my programming skills, and creating projects that help me gain practical experience.</p>
            <p>I believe that every project is an opportunity to learn something new, and I'm excited to continue growing as a future software developer.</p>

        </div>
    </div>
</section>