<section class="animate-fade-up">
    <div id="portfolio-header">
        <img class="hero-bg-img" src="../assets/images/teabg.webp" loading="lazy" alt="tea field background">
        <div class="hero-card">
            <div class="img-sec">
                <img src="../assets/images/coffee.png" loading="lazy" alt="img of Coshin">
            </div>

            <div class="name-bio-sec">
                <h1 style="color:var(--textwhite)">Coshin Lee</h1>
                <hr>
                <p style="color:var(--textwhite)">Hi! I'm Coshin, a Software Engineering student.</p>
                <p style="color:var(--textwhite)">I like taking on new challenges, improving my programming skills, and creating projects that help me gain practical experience.</p>
                <p style="color:var(--textwhite)">I believe that every project is an opportunity to learn something new, and I'm excited to continue growing as a future software developer.</p>

            </div>
        </div>
    </div>
</section>