<section class="animate-fade-up">
    <div class="title">
        <h1>My Skills</h1>
        <p class="subtitle">Technical Skills</p>
    </div>

    <div class="skills-layout-container"> 
        
        <div class="skills-card" style="background-color: var(--frontendbg);">
            <div class="progress-card-container">
                <div>
                    <h2>Frontend</h2>
                </div>
                <div class="progress-bar">
                    <progress value="50" max="100"></progress>
                </div>
            </div>
          <div class="productcard-container">
              <div class="card">
                <div class="img-wrapper">
                    <img src="../assets/images/htmllogo.png" 
                      loading="lazy" 
                      alt="html logo" >
                </div>
              </div>

              <div class="card">
                <div class="img-wrapper">
                    <img src="../assets/images/csslogo.png" 
                      loading="lazy" 
                      alt="css logo" >
                </div>
              </div>

              <div class="card">
                <div class="img-wrapper">
                    <img src="../assets/images/reactlogo.png" 
                      loading="lazy" 
                      alt="react logo" >
                </div>
              </div>

              <div class="card">
                <div class="img-wrapper">
                    <img src="../assets/images/jslogo.png" 
                      loading="lazy" 
                      alt="javascript logo" >
                </div>
              </div>

          </div>
        </div>

        <div class="skills-card" style="background-color: var(--backendbg);">
            <div class="progress-card-container">
                <div>
                    <h2>Backend</h2>
                </div>
                <div class="progress-bar">
                    <progress value="20" max="100"></progress>
                </div>
            </div>
            <div class="productcard-container">
              <div class="card">
                <div class="img-wrapper">
                    <img src="../assets/images/pythonlogo.png" 
                      loading="lazy" 
                      alt="python logo" >
                </div>
              </div>

              <div class="card">
                <div class="img-wrapper">
                    <img src="../assets/images/javalogo.png" 
                      loading="lazy" 
                      alt="java logo" >
                </div>
              </div>

          </div>
        </div>

    </div>
</section>